@font-face {
  font-family: "B Nazanin";
  src: url('../font/B Nazanin+ Regular.ttf');
}
@font-face {
  font-family:  "B Yekan";
  src: url('../font/BYekan.eot');
  src: url('../font/BYekan.eot?#iefix') format('embedded-opentype'),
  url('../font/BYekan.ttf')format('truetype'),
  url('../font/BYekan.woff') format('woff');
}


$bgc:rgb(57,62,67);
$font_color:white;
$my_green:rgb(52,175,35);
$light_green:rgb(241,248,233);
$text-color:#2c3e50;
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

body{
   background: url("../images/bg-download.jpg");;
   background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family:  "B Yekan";
   font-size: 18px;
   nav#nav_bar{
     background-color: adjust_hue($bgc,10deg);
   }
   footer#_footer{
     background-color:adjust_hue($bgc,10deg);
     opacity: 0.6;
     &:hover{
       opacity: 0.8;
     }
   } 
}
 
.color{
  color:$text-color ;
}
body hr{
  width:90%;
  height: 1px;
  background-color:$my_green;
  color:$my_green;
  border: 0 none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}
body > div
{
  transition:all 0.3s ease;
}
.first_head{
  background-color: adjust_hue($bgc,10deg);
  opacity: 0.6;
  h3{
    color: $font_color;
  }
}
.background-color{
  background-color: $font_color;
  h2{
    background-color: $text-color ;
    color: $font_color;
    padding: 20px;
  }

}
.carousel-indicators  {
  .active{
    background-color:black;
  }
  li{
    border-color:rgba(0,0,0,0.5);
  }
}
.nav-foot-color{
  a{
    color: $my_green;
  }
  p{
    color: white;
  }
}
.right-to-left li {
  float: right;
}
#describe {
  &:hover{ border-left: 4px solid lighten($my_green,20% );
    border-right: 4px solid lighten($my_green,20% );}

}
#connect_to_us {
  &:hover{border-left: 4px solid lighten($my_green,20% );
  border-right: 4px solid lighten($my_green,20% );
  }
}
#downloads{
  &:hover{ border-left: 4px solid lighten($my_green,20% );
  border-right: 4px solid lighten($my_green,20% );}
}
#why_us{
  &:hover { border-left: 4px solid lighten($my_green,20% );
  border-right: 4px solid lighten($my_green,20% );}
}
.grow:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  background-color: $light_green;
}
@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-10deg)}
  100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-10deg)}
  100%{transform: rotate(10deg);}
}

.swingimage{
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 2s ease-in-out forwards infinite;
  animation: swinging 2s ease-in-out forwards infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.face:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}